---
openapi: 3.0.0

info:
  version: rte
  title: 'LBAW Fast Nile Web API'
  description: 'Web Resources Specification (A9) for Fast Nile'

servers:
- url: https://lbaw22144.lbaw.fe.up.pt
  description: Production server


tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Auctions'
  - name: 'M03: Follows and Reviews'
  - name: 'M04: Bids'
  - name: 'M05: User Administration and Static pages'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:        
                  type: string
                password:
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to main page.'
                  value: '/home'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 
  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to main page.'
                  value: '/home'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /profile/{id}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show profile UI'
  
  
  /profile/edit/{id}:
    get:
      operationId: R107
      summary: 'R107: View edit user profile form'
      description: 'Show the individual user profile. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show edit profile form'
  
  
  /edit:
    post:
      operationId: R108
      summary: 'R108: Edit User Profile Action'
      description: 'Processes the edit of a user`s profile. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                address:
                  type: string
                user:
                  type: string
              required:
                - name
                - address
                - user

      responses:
        '302':
          description: 'Redirect after processing the new user profile information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to user profile.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'
  
  
  
  /profile/wallet/{id}:
    get:
      operationId: R109
      summary: 'R109: Add funds form'
      description: 'Adds funds to the individual. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show add funds form'   
          
          
          
          
  /wallet:
    post:
      operationId: R110
      summary: 'R110: Add funds Action'
      description: 'Processes the addition of funds to a user. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                funds:
                  type: string
                user:
                  type: string
              required:
                - funds
                - user
            

      responses:
        '302':
          description: 'Redirect after processing the new user`s funds.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to user profile.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'        
                  
                  
  /profile/upgrade/{id}:
    get:
      operationId: R111
      summary: 'R111: Upgrades user to Auctioneer form'
      description: 'Upgrades user to an Auctioneer. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show upgrade user form'            
          
  
  
  /upgrade:
    post:
      operationId: R112
      summary: 'R112: Upgrade user Action'
      description: 'Processes the upgrade of a user to an Auctioneer. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                phone:
                  type: string
                user:
                  type: string
              required:
                - phone
                - user
            

      responses:
        '302':
          description: 'Redirect after processing the upgrade of a user.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to user profile.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'     
                  
                  
  /profile/picture/{id}:
    get:
      operationId: R113
      summary: 'R113: Upload profile picture form'
      description: 'Shows the upload user profile picture form. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show picture user form'       
          
  
  
  /pictureProfile:
    post:
      operationId: R114
      summary: 'R114: Upload profile picture Action'
      description: 'Processes the upload of a users profile picture. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                picture:
                  type: object #image
                user:
                  type: string
              required:
                - picture
                - user
            

      responses:
        '302':
          description: 'Redirect after processing the upload of a user`s picture.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to user profile.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'             
  
  
  
  /profile/auctions/{id}/{pageNr}:
    get:
      operationId: R115
      summary: 'R115: Auctioneer’s auctions List'
      description: 'Shows the list of an auctioneer`s auction. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: 'Ok. Show auctioneer`s auctions list'  
          
          
          
          
          
  /profile/bids/{id}/{pageNr}:
    get:
      operationId: R116
      summary: 'R116: User’s bid List'
      description: 'Shows the list of a users bids. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: 'Ok. Show users bids list'
          
  
  
  /login/admin:
    get:
      operationId: R117
      summary: 'R116: Admin Login Form'
      description: 'Shows the login Form of an admin. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'


      responses:
        '200':
          description: 'Ok. Shows login admin form'
          
          
    post:
      operationId: R118
      summary: 'R114: login Admin Action'
      description: 'Processes the login of an admin. Access: ADM'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
            

      responses:
        '302':
          description: 'Redirect after processing the login of an admin.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to admin profile.'
                  value: '/profileAdmin/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/' 
                  
  
  /users/{pageNr}:
    get:
      operationId: R119
      summary: 'R119: All users list'
      description: 'Shows the list of users by page. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show users list by page'                
  
  
  
  
  /search/user:
    get:
      operationId: R120
      summary: 'R120: Search for a user'
      description: 'Shows the search results of a user search by a query "q". Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show search result of users list'   
          
  
  /search:
    get:
      operationId: R121
      summary: 'R121: Main search page'
      description: 'Shows the main search page. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show search result of users list'   
          
  /forgotPassword:
    get:
      operationId: R122
      summary: 'R122: Forgot Password Form'
      description: 'Shows the form to enter email after forgotten password. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show forgot password form' 
  
  /resetPassword:
          
    post:
      operationId: R123
      summary: 'R123: Reset Password Request Action'
      description: 'Processes the request of reseting password. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
            

      responses:
        '302':
          description: 'Redirect after processing the request of reset password.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful request. Redirect to reset password page.'
                  value: '/forgotPassword'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/' 
                  
  /password/reset/{token}:
    get:
      operationId: R124
      summary: 'R124: Password Reset Token Form'
      description: 'Shows the form to enter token after forgotten password. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true

      
      responses:
        '200':
          description: 'Ok. Show forgot password form' 
          
          
  /resetPasswordConfirm:
          
    post:
      operationId: R125
      summary: 'R125: Reset Password Confirm Action'
      description: 'Processes the confirmation of reseting password. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
              required:
                - token
            

      responses:
        '302':
          description: 'Redirect after processing the confirmation of reset password.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful request. Redirect to login page.'
                  value: '/login'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/' 
                  
                  
                  
  /profile/auctionsWon/{id}/{pageNr}:
    get:
      operationId: R126
      summary: 'R126: users won auctions List'
      description: 'Shows the list of an users won auctions. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: 'Ok. Show users won auctions list' 
          
          
  
          
          
  /profile/notifications/{id}/{pageNr}:
    get:
      operationId: R127
      summary: 'R127: User’s notification list'
      description: 'Shows the list of a users notifications. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: 'Ok. Show users bids list'
          
          
  /profile/delete/{id}:
    get:
      operationId: R128
      summary: 'R128: User’s account delete form'
      description: 'Shows form to delete account. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true



      responses:
        '200':
          description: 'Ok. Show users bids list'
          
  /api/wallet:
   get:
     operationId: R129
     summary: 'R129: Add funds API'
     description: 'Adds funds and returns it results as JSON. Access: OWN.'

     tags:
       - 'M01: Authentication and Individual Profile'

     parameters:

       - in: query
         name: user
         description: id of the user addings funds
         schema:
           type: string
         required: true
       - in: query
         name: funds
         description: Value of the funds
         schema:
           type: string
         required: true
     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   user:
                     type: string
                   funds:
                     type: integer
               example:
                 - user: 5
                   funds: 5000
  
  
  /delete:
    post:
      operationId: R130
      summary: 'R130: Delete user Action'
      description: 'Processes the delete of a user. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user:
                  type: string
              required:
                - user
            

      responses:
        '302':
          description: 'Redirect after processing the delete of a user.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to login page.'
                  value: '/login'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home' 
          
  /api/markRead:
   get:
     operationId: R131
     summary: 'R131: mark notification read API'
     description: 'Marks notification and returns it results as JSON. Access: OWN.'

     tags:
       - 'M01: Authentication and Individual Profile'

     parameters:

       - in: query
         name: id
         description: id of the notification
         schema:
           type: string
         required: true
       - in: query
         name: row
         description: Row in the notis list
         schema:
           type: string
         required: true
     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   row:
                     type: string

               example:
                 - id: 5
                   row: 4
                   
                   
  /api/markAllRead:
   get:
     operationId: R132
     summary: 'R132: mark all notifications read API'
     description: 'Marks notifications and returns it results as JSON. Access: OWN.'

     tags:
       - 'M01: Authentication and Individual Profile'


     responses:
       '200':
         description: Success
         
         
   

          
  
  
  /auction/{id}:
    get:
      operationId: R201
      summary: 'R201: View individual auction'
      description: 'Show the individual page of an auction. Access: PUB'
      tags:
        - 'M02: Auctions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show auction page'  
          
          
  /auctions/{pageNr}:
    get:
      operationId: R202
      summary: 'R202: All auctions list'
      description: 'All Auctions List By Page (ordered by auctions with less time until close first, 5 per page): PUB'
      tags:
        - 'M02: Auctions'

      parameters:
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show users list by page'  
          
          
  /profile/auctionCreate/{id}:
    get:
      operationId: R203
      summary: 'R203: Create Auction'
      description: 'Show the auction create form. Access: ACT'
      tags:
        - 'M02: Auctions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show auction create form'    
          
  /auctionCreate:
    post:
        operationId: R204
        summary: 'R114: Create Auction Action'
        description: 'Processes the creation of an auction. Access: ACT'
        tags:
          - 'M02: Auctions'
  
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  carName:
                    type: string
                  categorie:
                    type: string
                  state:
                    type: string
                  color:
                    type: string
                  consumption:
                    type: string
                  kilometers:
                    type: string
                  image:
                    type: object #image
                  priceStart:
                    type: string
                  timeClose:
                    type: string
                  user:
                    type: string
                required:
                  - title
                  - description
                  - carName
                  - categorie
                  - state
                  - color
                  - consumption
                  - kilometers
                  - image
                  - priceStart
                  - timeClose
                  - user
              
  
        responses:
          '302':
            description: 'Redirect after processing the creation of an auction.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful change. Redirect to created auction page.'
                    value: '/auction/{id}'
                  302Failure:
                    description: 'Failed change. Redirect to home.'
                    value: '/'         
          
          
          
  /auctionEdit/{id}:
    get:
      operationId: R205
      summary: 'R205: Edit Auction'
      description: 'Show the edit auction form. Access: ACT/OWN'
      tags:
        - 'M02: Auctions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show auction edit form'          
          
  /auctionEdit:
    post:
        operationId: R206
        summary: 'R206: Edit Auction Action'
        description: 'Processes the edit of an auction. Access: ACT/OWN'
        tags:
          - 'M02: Auctions'
  
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  auction:
                    type: string

                required:
                  - title
                  - description
                  - auction
  
              
  
        responses:
          '302':
            description: 'Redirect after processing the edit of an auction.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful change. Redirect to edited auction page.'
                    value: '/auction/{id}'
                  302Failure:
                    description: 'Failed change. Redirect to home.'
                    value: '/'       
                    
  /auctionCancel:
    post:
        operationId: R207
        summary: 'R207: Cancel Auction Action'
        description: 'Processes the cancelation of an auction. Access: ACT/OWN'
        tags:
          - 'M02: Auctions'
  
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  auction:
                    type: string

                required:
                  - auction
  
              
  
        responses:
          '302':
            description: 'Redirect after processing the canceling of an auction.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful cancel. Redirect to home.'
                  302Failure:
                    description: 'Failed change. Redirect to home.'
                    value: '/'                  
  
  
  
  /search/auction:
    get:
      operationId: R208
      summary: 'R208: Search for an auction (full text search)'
      description: 'Show the results of the search for an auction, after a query {q}. Access: PUB'
      tags:
        - 'M02: Auctions'


      responses:
        '200':
          description: 'Ok. Show auction full text search results'    
          
          
  /search/auctionM:
    get:
      operationId: R209
      summary: 'R209: Search for an auction (exact match)'
      description: 'Show the results of the search for an auction, after a query {q}. Access: PUB'
      tags:
        - 'M02: Auctions'


      responses:
        '200':
          description: 'Ok. Show auction exact match search results'  
          
          
  /allauctions/{pageNr}:
    get:
      operationId: R210
      summary: 'R210: All auctions list including closed ones'
      description: 'All Auctions List By Page (ordered by auctions with less time until close first, 7 per page): PUB'
      tags:
        - 'M02: Auctions'

      parameters:
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show users list by page'  
          
          
  /auctionStatus/{id}:
    get:
      operationId: R211
      summary: 'R211: Change Auction Status'
      description: 'Show the status auction form. Access: ACT/OWN'
      tags:
        - 'M02: Auctions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show auction edit form' 
          
          
  /auctionStatus:
    post:
        operationId: R212
        summary: 'R212: Status Auction Action'
        description: 'Processes the change of an auction status. Access: ACT/OWN'
        tags:
          - 'M02: Auctions'
  
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  ending:
                    type: boolean
                  auction:
                    type: string
                

                required:
                  - auction
  
              
  
        responses:
          '302':
            description: 'Redirect after processing the change of an auction status.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful change. Redirect to edited auction page.'
                    value: '/auction/{id}'
                  302Failure:
                    description: 'Failed change. Redirect to home.'
                    value: '/'   
                    
                    
  /api/getAuction:
   get:
     operationId: R213
     summary: 'R213: Get Auction API'
     description: 'Gets Auction and returns it results as JSON. Access: PUB.'

     tags:
       - 'M02: Auctions'

     parameters:

       - in: query
         name: auction
         description: id of the auction
         schema:
           type: string
         required: true

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   owners:
                     type: string
                   highestbidder:
                    type: string
                   timeclose:
                    type: string

               example:
                 - id: '5'
                 - owners: '41'
                 - highestbidder: '5'
                 - timeclose: '2023-02-13 09:11:11'
                 
                 
  /api/closeAuction:
   get:
     operationId: R214
     summary: 'R214: Close Auction API'
     description: 'Closes Auction and returns it results as JSON. Access: PUB.'

     tags:
       - 'M02: Auctions'

     parameters:

       - in: query
         name: auction
         description: id of the auction
         schema:
           type: string
         required: true

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   owners:
                     type: string
                   highestbidder:
                    type: string
                   timeclose:
                    type: string

               example:
                 - id: '5'
                 - owners: '41'
                 - highestbidder: '5'
                 - timeclose: '2023-02-13 09:11:11'
                 
                 
  /api/endingAuction:
   get:
     operationId: R215
     summary: 'R215: Ending Auction API'
     description: 'Changes Auction state to ending and returns it results as JSON. Access: PUB.'

     tags:
       - 'M02: Auctions'

     parameters:

       - in: query
         name: auction
         description: id of the auction
         schema:
           type: string
         required: true

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   owners:
                     type: string
                   highestbidder:
                    type: string
                   timeclose:
                    type: string

               example:
                 - id: '5'
                 - owners: '41'
                 - highestbidder: '5'
                 - timeclose: '2023-02-13 09:11:11'
                  
          
  
  
  /profile/following/{id}/{pageNr}:
    get:
      operationId: R301
      summary: 'R301: User’s following auctions List'
      description: 'Shows the list of a users bids. Access: PUB'
      tags:
        - 'M03: Follows and Reviews'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: 'Ok. Show users bids list'
          
  /api/auctionFollow:
   get:
     operationId: R302
     summary: 'R302: Follow Auction API'
     description: 'Follows Auction and returns it results as JSON. Access: USR.'

     tags:
       - 'M03: Follows and Reviews'

     parameters:

       - in: query
         name: user
         description: id of the user following
         schema:
           type: string
         required: true
       - in: query
         name: auction
         description: auction that is being followed
         schema:
           type: string
         required: true
     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   user:
                     type: string
                   auction:
                     type: string

               example:
                 - user: 50
                 - auction: 5
                 
                 
  /api/auctionUnFollow:
   get:
     operationId: R303
     summary: 'R303: UnFollow Auction API'
     description: 'UnFollows Auction and returns it results as JSON. Access: USR.'

     tags:
       - 'M03: Follows and Reviews'

     parameters:

       - in: query
         name: user
         description: id of the user unfollowing
         schema:
           type: string
         required: true
       - in: query
         name: auction
         description: auction that is being unfollowed
         schema:
           type: string
         required: true
     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   user:
                     type: string
                   auction:
                     type: string

               example:
                 - user: 50
                 - auction: 5
          
          
  
  
  /createRating:
    post:
      operationId: R304
      summary: 'R304: Rates an auctioneer'
      description: 'Processes the rating of an auctioneer. Access: USR'
      tags:
        - 'M03: Follows and Reviews'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user:
                  type: string
                auctioneer:
                  type: string
                ratingstars:
                  type: string
              required:
                - user
                - auctioneer
                - ratingstars
            

      responses:
        '302':
          description: 'Redirect after processing the rating of an auctioneer.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to profile page.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'
  
  
  
  
  /api/bid:
   get:
     operationId: R401
     summary: 'R401: Make bid API'
     description: 'Makes bid and returns it results as JSON. Access: USR.'

     tags:
       - 'M04: Bids'

     parameters:

       - in: query
         name: user
         description: id of the user making the bid
         schema:
           type: string
         required: true
       - in: query
         name: auction
         description: auction the bid is for
         schema:
           type: string
         required: true
       - in: query
         name: bid
         description: Value of the bid
         schema:
           type: string
         required: true
     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: object
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   idauction:
                     type: string
                   iduser:
                     type: string
                   valuee:
                     type: integer
               example:
                 - id: 1
                   idauction: 6
                   iduser: 102
                   valuee: 5000
                   
                   
                   
                   
  /profileAdmin/{id}:
    get:
      operationId: R501
      summary: 'R501: View admin profile'
      description: 'Show the individual admin profile. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show admin profile UI'         
  
  
  
  /profileAdmin/edit/{id}:
    get:
      operationId: R502
      summary: 'R502: View admin profile edit form'
      description: 'Show the individual admin profile edit form. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show admin profile form UI'          
  
  
  
  /profileAdmin/picture/{id}:
    get:
      operationId: R503
      summary: 'R503: View admin profile picture form'
      description: 'Show the individual admin profile picture form. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show admin profile picture form UI'                  
          
          
  /editAdmin:
    post:
      operationId: R504
      summary: 'R504: Edit Admin Profile Action'
      description: 'Processes the edit of a user`s profile. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                admin:
                  type: string
              required:
                - name
                - admin

      responses:
        '302':
          description: 'Redirect after processing the new admin profile information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to admin profile.'
                  value: '/profileAdmin/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'    
                  
                  
  /pictureAdminprofile:
    post:
      operationId: R505
      summary: 'R505: Upload Admin Profile Picture Action'
      description: 'Processes the upload of a admin`s profile picture. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                image:
                  type: object #image
                admin:
                  type: string
              required:
                - image
                - admin

      responses:
        '302':
          description: 'Redirect after processing the new admin profile picture.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to admin profile.'
                  value: '/profileAdmin/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'
                  
  
  
  
  /profile/block/{id}:
    get:
      operationId: R506
      summary: 'R506: View block user form'
      description: 'Show the block user form. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show block user form UI' 
          
          
  /block:
    post:
      operationId: R507
      summary: 'R507: Block user Action'
      description: 'Processes the block of a user account. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                admin:
                  type: string
                user:
                  type: string
                justification:
                  type: string
              required:
                - admin
                - user
                - justification

      responses:
        '302':
          description: 'Redirect after processing the block of a user aacount.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to blocked user profile.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'
  
  /users/blocked/{pageNr}:
    get:
      operationId: R508
      summary: 'R508: Auctioneer’s auctions List'
      description: 'Shows the list of an auctioneer`s auction. Access: PUB'
      tags:
        - 'M05: User Administration and Static pages'

      parameters:
        - in: path
          name: pageNr
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: 'Ok. Show auctioneer`s auctions list'
          
          
  /profile/unblock/{id}:
    get:
      operationId: R509
      summary: 'R509: View unblock user form'
      description: 'Show the unblock user form. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show unblock user form UI'
          
  /unblock:
    post:
      operationId: R510
      summary: 'R510: Unblock user Action'
      description: 'Processes the unblock of a user account. Access: ADM'
      tags:
        - 'M05: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user:
                  type: string
              required:
                - user

      responses:
        '302':
          description: 'Redirect after processing the unblock of a user aacount.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful change. Redirect to unblocked user profile.'
                  value: '/profile/{id}'
                302Failure:
                  description: 'Failed change. Redirect to home.'
                  value: '/home'
                  
                  
  /aboutUs:
    get:
      operationId: R511
      summary: 'R511: About us page'
      description: 'Shows About Us Page. Access: PUB'
      tags:
        - 'M05: User Administration and Static pages'

      responses:
        '200':
          description: 'Ok. Show About us Page'  
          
          
  /contacts:
    get:
      operationId: R512
      summary: 'R512: Contacts page'
      description: 'Shows Contacts Page. Access: PUB'
      tags:
        - 'M05: User Administration and Static pages'

      responses:
        '200':
          description: 'Ok. Show Contacts Page'
          
  /features:
    get:
      operationId: R513
      summary: 'R513: Features page'
      description: 'Show Features Page. Access: PUB'
      tags:
        - 'M05: User Administration and Static pages'

      responses:
        '200':
          description: 'Ok. Show features Page'
  
  
  
                  
                  
    
