body {
  background-color: #ffffff;
  color: #9b4dca;
}
main > header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background-color: #d2afe7;
  padding: 1em;
  margin: 1em;
}
main > header h1 {
  margin: 0;
}
main > header a.button {
  margin: 1em;
  justify-self: center;
}
main > header span {
  margin: 1em;
  justify-self: center;
}
#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
  display: flex;
  flex-direction: column;
  background-color: #d3edc3;
  padding: 1em;
  margin: 1em;
}
#cards article.card header {
  display: flex;
  align-items: center;
}
#cards article.card header h2 {
  flex-grow: 1;
}
#cards article.card header a.delete {
  display: none;
  font-size: 2.6rem;
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  line-height: 1.25;
}
#cards article.card header:hover a.delete {
  display: inline;
}
#cards article.card li {
  list-style-type: none;
}
#cards article.card li label {
  display: flex;
  align-items: baseline;
}
#cards article.card li label span {
  margin-left: .5em;
  flex-grow: 1;
}
#cards article.card li label a {
  display: none;
}
#cards article.card li label:hover a {
  display: inline;
}
#cards article.card input:checked + span {
  text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
  margin: 0;
}
#cards article.card form {
  margin: 0;
}
#cards article.card input[type=text] {
  background-color: white;
  margin: 0;
}
#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid #d2afe7;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button.button-outline {
  color: #9b4dca;
}
a {
  color: #9b4dca;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #9b4dca;
}

.mainAuctionsPic {
  width: 6.25em !important;
  height: 6.25em !important;
  margin-left: 1em;
}

.AuctionsPic {
  width: 30em !important;
  height: 30em !important;
  left: 20em;
  top: 2em;
  position: relative;
}

#AuctionTitle{
  text-align: center;
  font-size: 6em;
}

#tables{
  position: relative;
  left: 80em;
  top: -22em;
  width: 15em;
}

#tables td{
  height: 5em;
  width: 10em;
  text-align: center;
  vertical-align: middle;
  
}

#tables th{
  height: 5em;
  width: 10em;
  text-align: center;
  vertical-align: middle;
}

#BidsTable{
  font-size: 1.5em;
}

#BidForm{
  position: relative;
  left: 60em;
  top: -40em;
  text-align: center;
  width: 10em;
}




#profile_image{
  width: 6.25em !important;
  height: 6.25em !important;
  margin-left: 1em;
}

#profile_list{
  display: flex;

}

#profile_list>img{
  margin: 1em;
}

#profile_list>ul{
  margin: 1em;
}

#profile_list{
  justify-content: center;
  
}

#profile_list ul{
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}


#formSearch {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


#formSearch input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

#formSearch ::placeholder {
  color: #fff;
  opacity: 0.7; 
}

#formSearch button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}


svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

#walletForm{
  text-align: center;
}

#walletForm input{
  text-align: center;
  width: 12em;
}

#walletForm button{
  position: relative;
  top: 2em;
}


#upgradeForm{
  text-align: center;
}

#upgradeForm input{
  text-align: center;
  width: 12em;
}

#upgradeForm button{
  position: relative;
  top: 2em;
}

#profilePictureEdit{
  text-align: center;
}

#currentPrice{
  position: relative;
  text-align: center;
  align-content: center;
  top: -30em;
  width: 30em;
  left: 35em;
  display: flexbox;
  font-size: 1.3em;
}


#auctionForm{
  max-width: 30em !important;
  text-align: center;
  font-size: 2em;
}

#auctionForm input,select{
  max-width: 20em;
  text-align: center;
}

#auctionForm textarea{
  height: 10em;
}



